USE [master]
GO
/****** Object:  Database [C:\USERS\LOL\DOCUMENTS\VISUAL STUDIO 2013\PROJECTS\ISHOP\ISHOP\APP_DATA\ISHOP.MDF]    Script Date: 8/27/2016 2:07:54 AM ******/
CREATE DATABASE [C:\USERS\LOL\DOCUMENTS\VISUAL STUDIO 2013\PROJECTS\ISHOP\ISHOP\APP_DATA\ISHOP.MDF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'iShop', FILENAME = N'F:\iShop.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'iShop_log', FILENAME = N'F:\iShop_log.ldf' , SIZE = 1088KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [C:\USERS\LOL\DOCUMENTS\VISUAL STUDIO 2013\PROJECTS\ISHOP\ISHOP\APP_DATA\ISHOP.MDF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [C:\USERS\LOL\DOCUMENTS\VISUAL STUDIO 2013\PROJECTS\ISHOP\ISHOP\APP_DATA\ISHOP.MDF]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 8/27/2016 2:07:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MultiValues]    Script Date: 8/27/2016 2:07:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MultiValues](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[KeyId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductMvSpecs]    Script Date: 8/27/2016 2:07:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductMvSpecs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[MValueId] [int] NOT NULL,
	[KeyId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 8/27/2016 2:07:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[CatId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SpecsKeys]    Script Date: 8/27/2016 2:07:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpecsKeys](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CatId] [int] NOT NULL,
	[IsMultiValues] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SpecsValues]    Script Date: 8/27/2016 2:07:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpecsValues](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KeyId] [int] NOT NULL,
	[Value] [nvarchar](50) NOT NULL,
	[ProductId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Id], [Name]) VALUES (1, N'TShirts')
SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[MultiValues] ON 

INSERT [dbo].[MultiValues] ([Id], [Name], [KeyId]) VALUES (1, N'M', 2)
INSERT [dbo].[MultiValues] ([Id], [Name], [KeyId]) VALUES (3, N'L', 2)
INSERT [dbo].[MultiValues] ([Id], [Name], [KeyId]) VALUES (4, N'XL', 2)
SET IDENTITY_INSERT [dbo].[MultiValues] OFF
SET IDENTITY_INSERT [dbo].[ProductMvSpecs] ON 

INSERT [dbo].[ProductMvSpecs] ([Id], [ProductId], [MValueId], [KeyId]) VALUES (3, 1, 3, 2)
INSERT [dbo].[ProductMvSpecs] ([Id], [ProductId], [MValueId], [KeyId]) VALUES (4, 1, 6, 3)
SET IDENTITY_INSERT [dbo].[ProductMvSpecs] OFF
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Name], [CatId]) VALUES (1, N'Lacoste', 1)
SET IDENTITY_INSERT [dbo].[Products] OFF
SET IDENTITY_INSERT [dbo].[SpecsKeys] ON 

INSERT [dbo].[SpecsKeys] ([Id], [Name], [CatId], [IsMultiValues]) VALUES (1, N'Cotton', 1, 0)
INSERT [dbo].[SpecsKeys] ([Id], [Name], [CatId], [IsMultiValues]) VALUES (2, N'Size', 1, 1)
INSERT [dbo].[SpecsKeys] ([Id], [Name], [CatId], [IsMultiValues]) VALUES (3, N'Color', 1, 1)
SET IDENTITY_INSERT [dbo].[SpecsKeys] OFF
SET IDENTITY_INSERT [dbo].[SpecsValues] ON 

INSERT [dbo].[SpecsValues] ([Id], [KeyId], [Value], [ProductId]) VALUES (1, 1, N'100', 1)
INSERT [dbo].[SpecsValues] ([Id], [KeyId], [Value], [ProductId]) VALUES (2, 4, N'yes', 1)
SET IDENTITY_INSERT [dbo].[SpecsValues] OFF
ALTER TABLE [dbo].[MultiValues]  WITH CHECK ADD  CONSTRAINT [FK_MultiValues_Key] FOREIGN KEY([KeyId])
REFERENCES [dbo].[SpecsKeys] ([Id])
GO
ALTER TABLE [dbo].[MultiValues] CHECK CONSTRAINT [FK_MultiValues_Key]
GO
ALTER TABLE [dbo].[ProductMvSpecs]  WITH CHECK ADD  CONSTRAINT [FK_ProductMvSpecs_Key] FOREIGN KEY([KeyId])
REFERENCES [dbo].[SpecsKeys] ([Id])
GO
ALTER TABLE [dbo].[ProductMvSpecs] CHECK CONSTRAINT [FK_ProductMvSpecs_Key]
GO
ALTER TABLE [dbo].[ProductMvSpecs]  WITH CHECK ADD  CONSTRAINT [FK_ProductMvSpecs_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[ProductMvSpecs] CHECK CONSTRAINT [FK_ProductMvSpecs_Product]
GO
ALTER TABLE [dbo].[ProductMvSpecs]  WITH CHECK ADD  CONSTRAINT [FK_ProductMvSpecs_Value] FOREIGN KEY([MValueId])
REFERENCES [dbo].[MultiValues] ([Id])
GO
ALTER TABLE [dbo].[ProductMvSpecs] CHECK CONSTRAINT [FK_ProductMvSpecs_Value]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Category] FOREIGN KEY([CatId])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Category]
GO
ALTER TABLE [dbo].[SpecsKeys]  WITH CHECK ADD  CONSTRAINT [FK_SpecsKeys_Category] FOREIGN KEY([CatId])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[SpecsKeys] CHECK CONSTRAINT [FK_SpecsKeys_Category]
GO
ALTER TABLE [dbo].[SpecsValues]  WITH CHECK ADD  CONSTRAINT [FK_SpecsValues_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[SpecsValues] CHECK CONSTRAINT [FK_SpecsValues_Product]
GO
ALTER TABLE [dbo].[SpecsValues]  WITH CHECK ADD  CONSTRAINT [FK_SpecsValues_SpecsKeys] FOREIGN KEY([KeyId])
REFERENCES [dbo].[SpecsKeys] ([Id])
GO
ALTER TABLE [dbo].[SpecsValues] CHECK CONSTRAINT [FK_SpecsValues_SpecsKeys]
GO
USE [master]
GO
